.head-section {
  padding: 10px;
  text-align: center;
}

header h1 {
  font-family: 'Montserrat' Sans-Serif;
  color: #f7f7f6;
  font-size: 30px;
  font-weight: 1000;
  margin: 2px 0;
}

header p {
  font-family: 'Montserrat', Sans-Serif;
  font-size: 20px;
  font-weight: 500;
  color: #f7f7f6;
  margin: 0;
}

hr {
  border: 1px solid #fff;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.navigation a {
  text-decoration: none;
  color:#f2f2f2;
  font-weight: 800;
  border-radius: 5px;
  background-color:#121212;
  padding: 3px;
}

.navigation a:hover {
  color: gold;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  max-width: 100%;
  padding: 10px;
  background-color: #a42424;
}

main {
  padding: 5px
}

.mission-vision > p {
  font-size: 18px;
  font-weight: 600;
  color:#f7f7f6;
  
}

.mission-vision > h2 {
  Color: #f7f7f6;
  margin: 0;
  margin-top: 10px;
}

.mission-section {
  display: flex;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}
.pillar label {
  color: #FDF5E6;
  font-size: 18px;
  font-weight: 800;
  margin: 0 auto;
}

.pillar {
  flex: 1;
  background-color: #121212;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  padding: 10px;
}
.pillar P {
  color: #f2f2f2;
  font-weight: 500;
}
.scripture {
  margin-top: 60px;
}


.label-legend {
  text-align: center;
  color: #f7f7f6;
}

footer {
  padding: 20px;
  background-color: #121212;
  margin-top: 20px;
  border-radius: 10px;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 20PX;
}
.social-links img {
  object-fit: contain;
  display: block;
}

footer a {
  display: flex;
  justify-content: inline;
  gap: 40px;
  text-decoration: none;
  color:#f2f2f2;
}
.mission-section > h3 {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  color:#FFFFFF;
}

.mission-section > h2 {
  color: #ffd6d6;
  margin: 0;
  margin-bottom: 20px;
}

.mission-section > p {
  color: #f2f2f2;
  margin: 0;
  margin-top: 5px;
}

footer p {
  color:#f2f2f2;
  text-align: center;
}

