.head-section {
  color: radial-gradient(circle, lightblue, #800000);
  padding: 10px;
  text-align: center;
}


header p{
  color: midnightblue;
  font-size: 20px;
  font-weight: 800;
  margin: 2px 0;
}

header h1 {
  font-size: 40px;
  color: darkred;
  margin: 0;
}

hr {
  border: 1px solid #505050;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

